# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df.loc[:, 'school':'guardian']

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother
10,GP,F,15,U,GT3,T,4,4,teacher,health,reputation,mother
11,GP,F,15,U,GT3,T,2,1,services,other,reputation,father
12,GP,M,15,U,LE3,T,4,4,health,services,course,father
13,GP,M,15,U,GT3,T,4,3,teacher,other,course,mother
14,GP,M,15,U,GT3,A,2,2,other,other,home,other
15,GP,F,16,U,GT3,T,4,4,health,other,home,mother
16,GP,F,16,U,GT3,T,4,4,services,services,reputation,mother
17,GP,F,16,U,GT3,T,3,3,other,other,reputation,mother
18,GP,M,17,U,GT3,T,3,2,services,services,course,mother
19,GP,M,16,U,LE3,T,4,3,health,other,home,father
20,GP,M,15,U,GT3,T,4,3,teacher,other,reputation,mother
21,GP,M,15,U,GT3,T,4,4,health,health,other,father
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother
23,GP,M,16,U,LE3,T,2,2,other,other,reputation,mother
24,GP,F,15,R,GT3,T,2,4,services,health,course,mother
25,GP,F,16,U,GT3,T,2,2,services,services,home,mother
26,GP,M,15,U,GT3,T,2,2,other,other,home,mother
27,GP,M,15,U,GT3,T,4,2,health,services,other,mother
28,GP,M,16,U,LE3,A,3,4,services,other,home,mother
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,course,mother
366,MS,M,18,U,LE3,T,4,4,teacher,services,other,mother
367,MS,F,17,R,GT3,T,1,1,other,services,reputation,mother
368,MS,F,18,U,GT3,T,2,3,at_home,services,course,father
369,MS,F,18,R,GT3,T,4,4,other,teacher,other,father
370,MS,F,19,U,LE3,T,3,2,services,services,home,other
371,MS,M,18,R,LE3,T,1,2,at_home,services,other,father
372,MS,F,17,U,GT3,T,2,2,other,at_home,home,mother
373,MS,F,17,R,GT3,T,1,2,other,other,course,mother
374,MS,F,18,R,LE3,T,4,4,other,other,reputation,mother
375,MS,F,18,R,GT3,T,1,1,other,other,home,mother
376,MS,F,20,U,GT3,T,4,2,health,other,course,other
377,MS,F,18,R,LE3,T,4,4,teacher,services,course,mother
378,MS,F,18,U,GT3,T,3,3,other,other,home,mother
379,MS,F,17,R,GT3,T,3,1,at_home,other,reputation,mother
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,home,father
381,MS,M,18,R,GT3,T,2,1,other,other,other,mother
382,MS,M,17,U,GT3,T,2,3,other,services,home,father
383,MS,M,19,R,GT3,T,1,1,other,services,other,mother
384,MS,M,18,R,GT3,T,4,2,other,other,home,father
385,MS,F,18,R,GT3,T,2,2,at_home,other,other,mother
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,reputation,mother
387,MS,F,19,R,GT3,T,2,3,services,other,course,mother
388,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother
389,MS,F,18,U,GT3,T,1,1,other,other,course,mother
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 5. Create a lambda function that capitalize strings.

In [4]:
capitalizer = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [5]:
df.Mjob = df['Mjob'].apply(capitalizer)
df.Fjob = df['Fjob'].apply(capitalizer)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10

### Step 7. Print the last elements of the data set.

In [6]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [7]:
# I already took care of this in step 6
df[['Mjob', 'Fjob']].tail()

         Mjob      Fjob
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [8]:
def majority(age):
    if age > 17:
        return True
    else:
        return False

In [9]:
df['legal_drinker'] = df.age.apply(majority)
df.legal_drinker.head()

0     True
1    False
2    False
3    False
4    False
Name: legal_drinker, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [10]:
num_df = df.select_dtypes(include=['int64'])
df[num_df.columns] = num_df * 10
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,...,30,20,10,20,50,40,60,100,100,False
5,GP,M,160,U,LE3,T,40,30,Services,Other,...,40,20,10,20,50,100,150,150,150,False
6,GP,M,160,U,LE3,T,20,20,Other,Other,...,40,40,10,10,30,0,120,120,110,False
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,...,10,40,10,10,10,60,60,50,60,False
8,GP,M,150,U,LE3,A,30,20,Services,Other,...,20,20,10,10,10,0,160,180,190,False
9,GP,M,150,U,GT3,T,30,40,Other,Other,...,50,10,10,10,50,0,140,150,150,False
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,...,30,30,10,20,20,0,100,80,90,False
11,GP,F,150,U,GT3,T,20,10,Services,Other,...,20,20,10,10,40,40,100,120,120,False
12,GP,M,150,U,LE3,T,40,40,Health,Services,...,30,30,10,30,50,20,140,140,140,False
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,...,40,30,10,20,30,20,100,100,110,False
14,GP,M,150,U,GT3,A,20,20,Other,Other,...,50,20,10,10,30,0,140,160,160,False
15,GP,F,160,U,GT3,T,40,40,Health,Other,...,40,40,10,20,20,40,140,140,140,False
16,GP,F,160,U,GT3,T,40,40,Services,Services,...,20,30,10,20,20,60,130,140,140,False
17,GP,F,160,U,GT3,T,30,30,Other,Other,...,30,20,10,10,40,40,80,100,100,False
18,GP,M,170,U,GT3,T,30,20,Services,Services,...,50,50,20,40,50,160,60,50,50,False
19,GP,M,160,U,LE3,T,40,30,Health,Other,...,10,30,10,30,50,40,80,100,100,False
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,...,40,10,10,10,10,0,130,140,150,False
21,GP,M,150,U,GT3,T,40,40,Health,Health,...,40,20,10,10,50,0,120,150,150,False
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,...,50,10,10,30,50,20,150,150,160,False
23,GP,M,160,U,LE3,T,20,20,Other,Other,...,40,40,20,40,50,0,130,130,120,False
24,GP,F,150,R,GT3,T,20,40,Services,Health,...,30,20,10,10,50,20,100,90,80,False
25,GP,F,160,U,GT3,T,20,20,Services,Services,...,20,20,10,30,50,140,60,90,80,False
26,GP,M,150,U,GT3,T,20,20,Other,Other,...,20,20,10,20,50,20,120,120,110,False
27,GP,M,150,U,GT3,T,40,20,Health,Services,...,20,40,20,40,10,40,150,160,150,False
28,GP,M,160,U,LE3,A,30,40,Services,Other,...,30,30,10,10,50,40,110,110,110,False
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,...,40,50,50,50,50,160,100,120,110,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,...,30,40,20,40,30,40,100,100,100,True
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,...,20,20,20,20,50,0,130,130,130,True
367,MS,F,170,R,GT3,T,10,10,Other,Services,...,20,10,10,20,10,0,70,60,0,False
368,MS,F,180,U,GT3,T,20,30,At_home,Services,...,20,30,10,20,40,0,110,100,100,True
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,...,20,20,40,20,50,100,140,120,110,True
370,MS,F,190,U,LE3,T,30,20,Services,Services,...,20,20,10,10,30,40,70,70,90,True
371,MS,M,180,R,LE3,T,10,20,At_home,Services,...,30,30,20,30,30,30,140,120,120,True
372,MS,F,170,U,GT3,T,20,20,Other,At_home,...,40,30,10,10,30,80,130,110,110,False
373,MS,F,170,R,GT3,T,10,20,Other,Other,...,50,50,10,30,10,140,60,50,50,False
374,MS,F,180,R,LE3,T,40,40,Other,Other,...,40,40,10,10,10,0,190,180,190,True
375,MS,F,180,R,GT3,T,10,10,Other,Other,...,30,20,10,20,40,20,80,80,100,True
376,MS,F,200,U,GT3,T,40,20,Health,Other,...,40,30,10,10,30,40,150,140,150,True
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,...,40,30,30,40,20,40,80,90,100,True
378,MS,F,180,U,GT3,T,30,30,Other,Other,...,10,30,10,20,10,0,150,150,150,True
379,MS,F,170,R,GT3,T,30,10,At_home,Other,...,50,40,20,30,10,170,100,100,100,False
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,...,20,40,10,40,20,40,150,140,140,True
381,MS,M,180,R,GT3,T,20,10,Other,Other,...,40,30,10,30,50,50,70,60,70,True
382,MS,M,170,U,GT3,T,20,30,Other,Services,...,40,30,10,10,30,20,110,110,100,False
383,MS,M,190,R,GT3,T,10,10,Other,Services,...,30,20,10,30,50,0,60,50,0,True
384,MS,M,180,R,GT3,T,40,20,Other,Other,...,40,30,40,30,30,140,60,50,50,True
385,MS,F,180,R,GT3,T,20,20,At_home,Other,...,30,30,10,30,40,20,100,90,100,True
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,...,40,30,20,20,50,70,60,50,60,True
387,MS,F,190,R,GT3,T,20,30,Services,Other,...,40,20,10,20,50,0,70,50,0,True
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,...,30,40,10,10,10,0,70,90,80,True
389,MS,F,180,U,GT3,T,10,10,Other,Other,...,10,10,10,10,50,0,60,50,0,True
390,MS,M,200,U,LE3,A,20,20,Services,Services,...,50,40,40,50,40,110,90,90,90,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,...,40,50,30,40,20,30,140,160,160,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,...,50,30,30,30,30,30,100,80,70,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,...,40,10,30,40,50,0,110,120,100,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,...,20,30,30,30,50,50,80,90,90,True